# Setup
setup: pretext

# Model
backbone: resnet_ts
model_kwargs:
   head: mlp
   features_dim: 4

# Dataset
train_db_name: Power
val_db_name: Power
ds_name: '152_UCR_Anomaly_PowerDemand1_9000_18485_18821.txt'
num_classes: 10

# Loss
criterion: pretext
criterion_kwargs:
   temperature: 0.4

# Hyperparameters
epochs: 30
optimizer: adam
optimizer_kwargs:
   #nesterov: False
   #momentum: 0.9
   lr: 0.1
   weight_decay: 0.01
scheduler: cosine
scheduler_kwargs:
   lr_decay_rate: 0.01
batch_size: 100
num_workers: 1

# Transformations
augmentation_strategy: ts
transformation_kwargs:
   noise_sigma: 0.01

anomaly_kwargs:
   portion: 0.99
